 /*navigation section*/
 nav{
    background-color: transparent;
    float: right;

  }
  nav ul li{
    list-style-type: none;
  }
  nav ul li a{
    text-decoration:underline;
  }

  #button-home {
    background-color: gold;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  #button-home:hover{
    background-color: aqua;
  }